body ul li a h1 p {padding: 0; margin:0;}
body {font: 75%/1.3 normal Arial, sans-serif;}
#wrapper{position:relative; margin: 0 auto; width: 85%; border: 1px solid #e4e4e4;}/* max-width:118.8333333em;}/* id as  1426pxmax width of 1680px images with inspector*/
#mast {position:absolute;
background-color: #69B4D1; 
width: 100%; padding-bottom:1.83333em; 
padding-top: 3.58333em; color: #fff;}
#img1 {position: absolute; right:0; top:0; z-index: 100; padding: 0.33333em 1.33333em; width: 27.95em;
    height: 12.5em;}
#mast h1 {
	font-size: 3em;
	font-weight: normal;
	font-family: sans-serif;
	padding-left: 0.566666em;
	margin-top: -0.033333em;
}

#mast p {
		font-size: 1.5em;
	font-weight: normal;
	font-family: sans-serif;
	padding-left: 1.06666em;
	margin-top: -1.3em;
	padding-bottom: 0.533333em;
}

#nav li {float: left; margin-right: 2.95em; list-style: none; margin-left: 0.1em;}
#nav {position: absolute;
top:11.1em; font-size: 1.2em;
border-bottom:2px solid #75BFD6; width:100%; padding-bottom:1.166666em;
}

#content {margin-top:15.33333em;}
#nav li:first-child {color: #E4488E;}

#links, #latest {position: absolute; top: 17.9em; width: 12.333333em; padding: 0.416666em;} 
#latest {position:absolute; right: 2.8em; 
width: 14.7em;
margin-right: -2.4em;
top: 17.5em;}

#links {left:0; }

#links li {list-style: none; text-decoration:none; padding-bottom: 0.82em;}
	#links a {text-decoration:none; margin-left: -2.15em; color: #000;}

#links ul {margin-top: -1.1em}

#content {margin: 0.833333em 14.58333em 0;}

#links h2 {
font-size: 2em;
font-weight: normal;
margin-top: 0.7em;
padding-left: 0.25em;}
#center {margin-top: 19.6em; padding-right:4.1em;}

#content #center h2 {
margin-top: 10.2em;
font-size: 1.9em;
font-weight: normal;
margin-left: 0.1em;
margin-bottom: 0.9em;
}

#images {margin-top:-16.2em; padding-bottom: 0.2em; margin-bottom: -2.9em;}
#content #center p:first-child {margin-top:-1.2em; padding-right: 11em; line-height: 1.6em;}

#welcome p:nth-of-type(1) {margin-top: -1.41666666em; line-height: 1.6em;margin-left: 0.2em; margin-bottom:-0.3em;}

#welcome p:nth-of-type(2) {margin-top: 1.083333em; line-height: 1.6em; margin-left: 0.2em; margin-bottom: -0.3em;}

#welcome p:nth-of-type(3) {margin-top: 1.166666em; line-height: 1.6em; margin-left: 0.2em; margin-bottom:-17.6em;}

#center #images img {float:left; margin-left: 0.6em; padding-right:0.4em;}

#center #images p:nth-of-type(1) #center #images p:nth-of-type(1) {
margin-right: 6.1em;
margin-left: -8.66666em;
margin-top: -0.2em;
line-height: 1.6em; }

#center #images p:nth-of-type(2) {margin: 0;padding:0; margin-top:2.6em;}
#clear {clear:both;}

#content #center #images h2 {margin-top: 10.1em;
font-size: 1.9em;
font-weight: normal;
margin-left: 0.1em;
margin-bottom:0.4em;
}

#center #images img:nth-of-type(1) {margin-right:0.1em; width: 8em; height: 7.3em;}
#center #images img:nth-of-type(2) {margin-right:0.1em; margin-top: 2.8em; margin-left: 0.5em; height: 6.5em;
width: 8.4em;}



#center #images p:nth-of-type(3) {margin-top:6.2em; text-align: center; margin-left: 3.6em; color: #3BA4C4;}

#latest p:nth-of-type(1) {
margin-top: -0.9em;
padding-top: 1.2em;
padding-left: 0em;
line-height: 1.6em;
margin-bottom: -0.1em;
margin-left: -0.1em;
}
#latest p:nth-of-type(1) span{margin-right: -.7em;}
#latest p:nth-of-type(2) span{margin-right: -.7em;}
#latest p:nth-of-type(3) span{margin-right: -.7em;}


span {color:#C1C1C1; font-size:5.9px; padding:0.7em; margin-left: -0.7em;}


#latest h2 {
font-size: 2em;
margin-top: 0.8em;
margin-left: 0;
margin-bottom: 0.6em;
font-weight: normal;
}

#latest a {font-size:1.1em;
		color: #3BA4C4; margin-left: -0.9em;
}


#p1 .dash {
margin-left: -.3em;
margin-right: 0.3em;}

#p2 .dash {
margin-left: -.5em;
margin-right: 1.1em;
}
#p3 .dash {
margin-left: -.9em;
margin-right: 1.1em;
}

#p2 {
margin-top: 1.3em;
}

#p3 {
margin-top: 1.5em;
}
#images p a {color:#3BA4C4; font-size: 1.5em; margin-left: -0.1em;}

#images p {
margin-top: -0.4em;
line-height: 1.6em;
}