$gfnt: 'Antic', sans-serif;
$fontcolor:#A6A6A6;
li {list-style:none;}

@mixin border-radius($radius) {
	border-radius:$radius;
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius; 
}

.headers2 {
	color:$fontcolor;
	font-size:3em;
	font-weight:100;
}


body, h1, h2, p, ul, li, a, main, article, nav, footer, #main, span, div,
#wrapper, #column1, #subnav, #client, #welcome, #fresh {padding:0; margin:0;}

body {background: repeat-x url("../images/tail-top.jpg"); font: 75%/1.3 Arial, Helvetica, sans-serif;   background-size: 1380px 930px;
    background-position: -17px -26px;
}

#wrapper {margin:0 auto; width:1000px;}

h1 {font-family: $gfnt;}
h2 {font-family: $gfnt;  @extend .headers2;}

//a {color:#FFB605;}

@mixin buttona($color, $background, $padding) {
color: $color; 
background-color:$background; 
padding:$padding;
@include border-radius(10px);
}

@mixin buttonb($decoration, $list-style, $float) {
text-decoration:$decoration; 
list-style:$list-style; 
float: $float;
}


nav {   
a:hover {@include buttona(black, #FFB605, 69px 24px 14px 28px); 
@include buttonb(none, none, left);}

//attempting to preserve shape of nav and then make correction
a {@include buttona($fontcolor, rgba(0, 0, 0, 0.0), 69px 24px 14px 28px); 
@include buttonb(none, none, left); margin-top:-1px;}

 
 li {padding: 69px 24px 14px 28px; letter-spacing:-0.1px; margin-top:-124px;
    margin-left: 178px;  list-style: none;


}
  margin-left: 74px;
  margin-top: 44px;

  h1 {  margin-right: 56px;
  font-size: 4em;
  font-weight: 100;
  margin-top: -15px;
  color:$fontcolor; 
   }

  li:nth-of-type(1){display:inline; font-size: 1.5em; @include buttona(black, #FFB605, 69px 24px 14px 28px); margin-left: 98px; list-style:none;
}

  a {font-size: 1.5em; margin-top: -39.1px;
}
 ul {
  margin-top: -42px;
  margin-left: 159px;
}

  li:nth-of-type(6) a {
  width:60px;
  margin-top: -36px;
  margin-right: 8px;
}

li:nth-of-type(6) { 
 float: right;
  margin-top: -138px;
  margin-right: -13px;
}

}

.clear {clear:left;}


#main {


#column1 {margin-left:103px; margin-top:30px; float: left; li {border: 4px solid #FFF; @include border-radius(10px); width:165px; height:81px; span{display:none;} margin-bottom: 31px; list-style:none;
}


li:nth-of-type(1) {background:no-repeat url("../images/slide1-1.jpg") ;}

li:nth-of-type(2) {background:no-repeat url("../images/slide1-2.jpg") ;}

li:nth-of-type(3) {background:no-repeat url("../images/slide1-3.jpg") ;}
}

#subnav { span {display:none;} li {@include buttona(white, rgba(0, 0, 0, 0.3), 0); width:104.5px; height:22px; padding-left:14.6px; padding-top:3.3px; margin-right:8px; margin-top:-5px;
} 

p {
  float: right;
  margin-top: -361px;
  margin-left: initial;
  margin-right: 17px;
  background: no-repeat url("../images/slide1-1big.jpg");
  height:323px;
  width:635px;
  @include border-radius(10px);
  border:5px solid white;
}

ul {
  margin-top: -3px;
  margin-left: 350px;
  li a:hover {color:#FFB605;}
}

a, li {@include buttonb(none, none, left); color:white; margin-right: 8px; padding-left:14.6px; 
padding-top:3.3px; margin-right:8px;
}

}
}

	
#client { span {display:none;} float:left; li, a {color:#ffb605;} margin-left: 117px;
  margin-top:0; width:164.6px;

li {margin-top: 3.3px;
  margin-bottom: 9.4px; list-style-image:url("../images/marker.gif"); font-size: 1.1em;
} 

li:nth-of-type(5) {list-style-image:url("../images/extra-img.png");  margin-left: 247px;
  margin-top: 48px;}

  #black {background:black; height:1000px; width:1000px;}
  }

  #welcome {width:530px; margin-left:354px; margin-top: 46px; li:nth-of-type(1) {
              background:no-repeat url("../images/1page-img.jpg");
              height: 130px;
              width: 350px;
              margin-top:3px;
               }
        li+li {width:350px; color:$fontcolor;} span{display: none;}
            }
div#fresh {
  width: 240px;
  float: right;
  margin-top: -286px;
  margin-right: 18px;
      li a {color:#ffb605; text-decoration:none; font-size:1.1em;} li {color:$fontcolor; width: 245px; margin-bottom:-2px; margin-top: 5px;} 
}
article+article {
  margin-top: -6px;
}
article {
  margin-top: 30px;
}